/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/commandlinetools/Laravel_11_4_21_19_12.xml
.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
.idea/dataSources.xml
.idea/dataSources/754bd899-5da7-4637-9fd6-483f2d5e7e22.xml
.idea/dataSources/754bd899-5da7-4637-9fd6-483f2d5e7e22/entities/entities.dat
.idea/dataSources/754bd899-5da7-4637-9fd6-483f2d5e7e22/entities/entities.dat.len
.idea/dataSources/754bd899-5da7-4637-9fd6-483f2d5e7e22/entities/entities.dat.values
.idea/dataSources/754bd899-5da7-4637-9fd6-483f2d5e7e22/entities/entities.dat.values.at
.idea/dataSources/754bd899-5da7-4637-9fd6-483f2d5e7e22/entities/entities.dat.values.s
.idea/dataSources/754bd899-5da7-4637-9fd6-483f2d5e7e22/entities/entities.dat_i
.idea/dataSources/754bd899-5da7-4637-9fd6-483f2d5e7e22/entities/entities.dat_i.len
.idea/dataSources/754bd899-5da7-4637-9fd6-483f2d5e7e22/storage_v2/_src_/schema/countdown.MVaZUA.meta
.idea/dataSources/754bd899-5da7-4637-9fd6-483f2d5e7e22/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/754bd899-5da7-4637-9fd6-483f2d5e7e22/storage_v2/_src_/schema/mysql.osA4Bg.meta
.idea/dataSources/754bd899-5da7-4637-9fd6-483f2d5e7e22/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
.idea/dataSources/754bd899-5da7-4637-9fd6-483f2d5e7e22/storage_v2/_src_/schema/sidom_wca.glOfow.meta
.idea/inspectionProfiles/Project_Default.xml
.idea/laravel-plugin.xml
.idea/modules.xml
.idea/pelota.iml
.idea/php.xml
.idea/phpunit.xml
.idea/vcs.xml
